<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {{ bootstrap.load_css() }}
  <link rel="stylesheet" href="{{url_for("static", filename='style.css')}}">
  <title>Hula Hoop Analyzer</title>
</head>
<body>
  <div class="container py-5" style="max-width: 700px;">
    <h2 id="title" class="display-4 text-center mb-4">Hula Hoop Analyzer</h2>

    <div class="card p-4 shadow-sm">
      <form id="video-form" action="{{ url_for('upload')}}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="video" class="form-label">Upload a video</label>
          <input class="form-control" type="file" id="video" name="video" accept="video/*" required></input>
        </div>
        <button type="submit" class="btn btn-primary" id="upload-btn">Upload</button>
      </form>

      {% if error %}
        <div class="alert alert-danger mt-3">{{error}}</div>
      {% endif %}

      <div id="loading-spinner" class="mt-3 spinner-border d-none" role="status">
        <span class="sr-only">Processing...</span>
      </div>

      <div class="mt-3" id="upload-result"></div>
      <div class="mt-3">
        <video id="result-video" class="d-none" controls style="max-width: 100%;"></video>
      </div>
    </div>
  </div>

  {{ bootstrap.load_js() }}
</body>
</html>
<script>
  document.querySelector("#video-form").addEventListener("submit", async function (e) {
    e.preventDefault();
    const form = e.target;
    const loading_spinner = document.getElementById("loading-spinner")
    const vid = document.getElementById("result-video");
    loading_spinner.classList.remove("d-none")

    const res = await fetch(form.action, {
      method: "POST",
      body: new FormData(form),
    });
    const data = await res.json();
    const num_frames = data.total_frames;
    const num_motion = data.num_frames_with_motion;
    document.getElementById("upload-result").textContent = `Detected ${num_frames}, ${num_motion} frames with motion`;
    
    // Display video
    vid.classList.remove("d-none")
    vid.src = data.video_url;
    vid.load();

    loading_spinner.classList.add("d-none")
  })
</script>

